development:
  server: mail.site.com
  port: 25
  domain: site.com
	authentication: login
	username: user@site.com
	password: 123
       
production:
  server: mail.site.com
  port: 25
  domain: site.com
	authentication: login
	username: user@site.com
	password: 123
